:root {
    color-scheme: normal;
    --c--bg: 255, 255, 255; 
    --c--main: 120, 204, 203; /* #78CCCB */
    --c--secondary: 255, 237, 101; /* #FFED65 */
    --c--tertiary: 218, 192, 163; /* DAC0A3 */
    --c--text: 16, 44, 87; /* 102C57 */
    --c--stamp--circle: 106, 71, 166; /* #102C57 */
    --c--stamp--triangle: 120, 204, 203; /* #78CCCB */
    --c--stamp--square: 78, 173, 13; /* #4EAD0D */
    --c--stamp--heart: 246, 95, 48; /* #F65F30 */

    --font-size--h1: 3.052rem;
    --font-size--h2: 2.441rem;
    --font-size--h3: 1.953rem;
    --font-size--h4: 1.543rem;
    --font-size--h5: 1.24rem;
    --font-size--p: 1rem;

    --font-weight--light: 300;
    --font-weight--bold: 800;

    --flip--width: 500px;
    --flip--height: 10rem;
    --img--stamp: url('./img/stamp--circle.svg');
}
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button {
    border: none;
    background-color: none;
}
h1 {
    font-size: var(--font-size--h1);
    font-weight: var(--font-weight--bold);
}
h2 {
    font-size: var(--font-size--h2);
    font-weight: var(--font-weight--bold);
}
h3 {
    font-size: var(--font-size--h3);
    font-weight: var(--font-weight--bold);
}
h4 {
    font-size: var(--font-size--h4);
    font-weight: var(--font-weight--bold);
}
h5 {
    font-size: var(--font-size--h5);
    font-weight: var(--font-weight--bold);
}
h1::first-letter,
h2::first-letter,
h3::first-letter,
h4::first-letter,
h5::first-letter {
    text-transform: uppercase;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(var(--c--bg));
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    color: rgb(var(--c--text));
}
.title {
    width: 100%;
    height: calc(var(--font-size--h1) * 2);
    padding: calc(var(--font-size--h1) / 2) 0;
    line-height: var(--font-size--h1);
    text-align: center;
    flex: 0 0 auto;
}

/* Sketch Board */
.sketch-board__ctr {
    width: 100%;
    height: calc(100vh - var(--font-size--h1) * 3);
    margin: calc(var(--font-size--h1) / 2) 0;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sketch-board {
    --width--sketch: 80%;
    width: 80%;
    max-height: 100%;
    aspect-ratio: 4/3;
    padding: 2.5% 5%;
    background-color: rgb(var(--c--main));
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.sketch-board__frame {
    width: 100%;
    height: 100%;
    padding: 2%;
    background-color: rgb(var(--c--secondary));
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
/*  Stamps */
.sketch-board__stamp__ctr {
    width: calc((100% - var(--width--sketch)) / 2);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.sketch-board__stamp {
    --stamp--width: 90%;
    --stamp--color: rgb(0,0,0);
    width: var(--stamp--width);
    margin: calc(var(--stamp--width) / 8) calc((100% - var(--stamp--width)) / 2);
    aspect-ratio: 1;
    mask: var(--img--stamp);
    -webkit-mask: var(--img--stamp);
    mask-size: cover;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    background-color: var(--stamp--color);
}
.circle {
    --img--stamp: url('img/stamp--circle.svg');
    --stamp--color: rgb(var(--c--stamp--circle));
}
.triangle {
    --img--stamp: url('img/stamp--triangle.svg');
    --stamp--color: rgb(var(--c--stamp--triangle));
}
.square {
    --img--stamp: url('img/stamp--square.svg');
    --stamp--color: rgb(var(--c--stamp--square));
}
.heart {
    --img--stamp: url('img/stamp--heart.svg');
    --stamp--color: rgb(var(--c--stamp--heart));
}
/*  Sketch */
.sketch-board__sketch {
    width: var(--width--sketch);
    height: 80%;
    background-color: rgb(var(--c--bg));
}
/*  Sketch Option */
.sketch-board__option {
    width: calc((100% - var(--width--sketch)) / 2);
}
/*  Sketch Eraser */
.sketch-board__eraser {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}
.eraser {
    width: var(--width--sketch);
}