:root {
    color-scheme: normal;
    --c--bg: 255, 255, 255; 
    --c--main: 120, 204, 203; /* #78CCCB */
    --c--secondary: 255, 237, 101; /* #FFED65 */
    --c--tertiary: 255, 0, 0; 
    --c--text: 16, 44, 87; /* 102C57 */
    --c--stamp--circle: 106, 71, 166; /* #102C57 */
    --c--stamp--triangle: 120, 204, 203; /* #78CCCB */
    --c--stamp--square: 78, 173, 13; /* #4EAD0D */
    --c--stamp--heart: 246, 95, 48; /* #F65F30 */

    --font-size--h1: 3.052rem;
    --font-size--h2: 2.441rem;
    --font-size--h3: 1.953rem;
    --font-size--h4: 1.543rem;
    --font-size--h5: 1.24rem;
    --font-size--p: 1rem;

    --font-weight--light: 300;
    --font-weight--bold: 800;

    --flip--width: 500px;
    --flip--height: 10rem;
    --img--stamp: url('./img/stamp--circle.svg');
}
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button {
    border: none;
    background-color: none;
}
h1 {
    font-size: var(--font-size--h1);
    font-weight: var(--font-weight--bold);
}
h2 {
    font-size: var(--font-size--h2);
    font-weight: var(--font-weight--bold);
}
h3 {
    font-size: var(--font-size--h3);
    font-weight: var(--font-weight--bold);
}
h4 {
    font-size: var(--font-size--h4);
    font-weight: var(--font-weight--bold);
}
h5 {
    font-size: var(--font-size--h5);
    font-weight: var(--font-weight--bold);
}
h1::first-letter,
h2::first-letter,
h3::first-letter,
h4::first-letter,
h5::first-letter {
    text-transform: uppercase;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(var(--c--bg));
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    color: rgb(var(--c--text));
}
.title {
    width: 100%;
    height: calc(var(--font-size--h1) * 2);
    padding: calc(var(--font-size--h1) / 2) 0;
    line-height: var(--font-size--h1);
    text-align: center;
    flex: 0 0 auto;
}

/* Sketch Board */
.sketch-board__ctr {
    width: 100%;
    height: calc(100vh - var(--font-size--h1) * 3);
    margin: calc(var(--font-size--h1) / 2) 0;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sketch-board {
    --width--sketch: 80%;
    --width--height: 80%;
    width: 100%;
    max-height: 100%;
    aspect-ratio: 4/3;
    background-color: rgb(var(--c--main));
    mask: url("img/sketch-shape.svg");
    -webkit-mask: url("img/sketch-shape.svg");
    mask-position: center;
    -webkit-mask-position: center;
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;

}
.sketch-board__frame {
    height: 85%;
    aspect-ratio: 4/3;
    padding: 2.5%;
    background-color: rgb(var(--c--secondary));
    mask: url("img/sketch-shape.svg");
    -webkit-mask: url("img/sketch-shape2.svg");
    mask-position: center;
    -webkit-mask-position: center;
    mask-size: contain;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
/*  Stamps */
.sketch-board__stamp__ctr {
    width: calc((100% - var(--width--sketch)) / 2);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.sketch-board__stamp {
    --stamp--width: 90%;
    --stamp--color: rgb(0,0,0);
    width: var(--stamp--width);
    margin: calc(var(--stamp--width) / 8) calc((100% - var(--stamp--width)) / 2);
    aspect-ratio: 1;
    mask: var(--img--stamp);
    -webkit-mask: var(--img--stamp);
    mask-size: cover;
    -webkit-mask-size: contain;
    mask-repeat: no-repeat;
    -webkit-mask-repeat: no-repeat;
    background-color: var(--stamp--color);
}
.circle {
    --img--stamp: url('img/stamp--circle.svg');
    --stamp--color: rgb(var(--c--stamp--circle));
}
.triangle {
    --img--stamp: url('img/stamp--triangle.svg');
    --stamp--color: rgb(var(--c--stamp--triangle));
}
.square {
    --img--stamp: url('img/stamp--square.svg');
    --stamp--color: rgb(var(--c--stamp--square));
}
.heart {
    --img--stamp: url('img/stamp--heart.svg');
    --stamp--color: rgb(var(--c--stamp--heart));
}
/*  Sketch */
.sketch-board__sketch {
    position: relative;
    width: var(--width--sketch);
    height: var(--width--height);
    background-color: rgb(var(--c--bg));
    overflow: hidden;
}
.sketch__box-ctr {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    display: grid;
}
.sketch__box {
    border: none;
}
.sketch__box.border {
    border: 0.5px solid rgba(var(--c--text), 0.5);
}
.sketch__box-ctr.black .sketch__box.border{
    border: 0.5px solid rgb(var(--c--bg));
}
/*  Sketch Control */
.sketch-board__control {
    width: calc((100% - var(--width--sketch)) / 2);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: center;
}
.control__option {
    width: 90%;
    aspect-ratio: 1;
}
input[type="color"].option--color__input {
    width: 100%;
    height: 100%;
    border: none;
    background-color: transparent;
    display: block;
    -webkit-appearance: none;
    -moz-appearance: none;
}
.option--size__input {
    display: none;
}

.option--size__switch {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 1px solid rgb(var(--c--text));
    background-color: rgb(var(--c--secondary));
}
.option--size__switch::before {
    --angle: 90deg;
    content: "";
    position: absolute;
    transform: translateY(-50%) rotate(var(--angle));
    top: 50%;
    left: 50%;
    transform-origin: center;
    left: 50%;
    width: 15%;
    aspect-ratio: 2/3;
    background-image: url("img/switch-arrow.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.option--size__switch.s {
    --angle: 0deg;
}
.option--size__switch.m {
    --angle: 90deg;
}
.option--size__switch.l {
    --angle: 180deg;
}

.switch__label {
    --label--width: 10%;
    position: absolute;
    top: calc(var(--label--width) / 2);
    right: calc(50% - var(--label--width) / 2);
    width: var(--label--width);
    aspect-ratio: 1;
    border: 0.5px solid rgb(var(--c--text));
    border-radius: 1px;
}
.switch__label.selected {
    background-color: rgb(var(--c--main));
}
.switch__label.m {
    --label--width: 15%;
    top: calc(50% - var(--label--width) / 2);
    right: calc(var(--label--width) *  2/6);
}
.switch__label.l {
    --label--width: 20%;
    top: calc(100% - var(--label--width) * 5/4);
    right: calc(50% - var(--label--width) / 2);
} 


/*  Sketch Eraser */
.sketch-board__eraser {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
}
.eraser {
    width: var(--width--sketch);
}
input[type="range"].eraser {
    --slider--height: 2.5vw;
    position: relative;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
}
input[type="range"].eraser::-webkit-slider-runnable-track {
    height: var(--slider--height);
    max-height: 24px;
    border-radius: var(--slider--height);
    background-color: rgb(var(--c--text));
}
input[type="range"].eraser::-webkit-slider-thumb {
    -webkit-appearance: none;
    position: relative;
    width: 10%;
    height: calc(var(--slider--height) * 2);
    margin-top: calc(var(--slider--height) / -2);
    border: 2px solid rgb(var(--c--text));
    border-radius: 5px;
    background-color: rgb(var(--c--secondary));
    /* box-shadow: inset 5px 10px rgb(var(--c--text)); */
}
/* firefox */
input[type="range"].eraser::-moz-range-track {
    height: var(--slider--height);
    max-height: 24px;
    border-radius: var(--slider--height);
    background-color: rgb(var(--c--text));
}
input[type="range"].eraser::-moz-range-thumb {
    -moz-appearance: none;
    position: relative;
    width: 10%;
    height: calc(var(--slider--height) * 2);
    margin-top: calc(var(--slider--height) / -2);
    border: 2px solid rgb(var(--c--text));
    border-radius: 5px;
    background-color: rgb(var(--c--secondary));
}

